CdsConfig/Workflows/PomodoroFlow-4CAF010C-D4A8-EA11-A812-000D3A5C0E1C.json
{"properties":{"connectionReferences":{"shared_flowpush":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_flowpush"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Condition_ObjectName":{"type":"any","description":"Choose a value","x-ms-powerflows-param-ispartial":false}},"required":["Condition_ObjectName"]}}}},"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":25,"unit":"Minute"}}},"Condition":{"actions":{"Send_me_a_mobile_notification":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowpush","operationId":"SendNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush"},"parameters":{"NotificationDefinition/notificationText":"@{triggerBody()['Condition_ObjectName']}/4 periods, take a long break"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delay_2":{"runAfter":{"Send_me_a_mobile_notification":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":25,"unit":"Minute"}}}},"runAfter":{"Delay":["Succeeded"]},"else":{"actions":{"Send_me_a_mobile_notification_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowpush","operationId":"SendNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush"},"parameters":{"NotificationDefinition/notificationText":"@{triggerBody()['Condition_ObjectName']}/4 periods, take a short break"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delay_3":{"runAfter":{"Send_me_a_mobile_notification_2":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}}}},"expression":{"equals":["@triggerBody()['Condition_ObjectName']",4]},"type":"If"},"Send_me_a_mobile_notification_3":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowpush","operationId":"SendNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush"},"parameters":{"NotificationDefinition/notificationText":"Breaks over"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}